@charset "utf-8";
/* CSS Document */

body{
    background-color: rgba(29,29,30,1);
    font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 30;
    min-width: 800px;
}

div#head{
	font-size: 25pt;
	vertical-align: middle;
	color: rgb(226,91,69);
	width: 75%;
	position: relative;
}

div#chatContainer{
    background-color: white;
    background-color: rgba(17,17,17,1);
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 800px;
    z-index: 1;
}

div#users{
    background-color: rgba(17,17,17,1);
    border-left: 4px solid rgba(29,29,30,1);
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: white;
}

div#output{
    height: 83%;
    width:80%;
    overflow-y: auto; 
    border-bottom: 4px solid rgba(29,29,30,1);
    position: relative;
}

div#formWrapp{
    height: 10%;
    display: table;
    width:75%;
}

div#formWrapp>form{
    display: table-cell;
    vertical-align: middle;
}

div#formWrapp>form>input{
    border: 0;
    outline-color: rgb(226,91,69);
    margin-left: 15px;
    height: 60%;
    width: 80%;
    background-color: rgba(29,29,30,1);
    padding-left: 8px;
    color: lightgrey;
}

div#formWrapp>form>*{
    display: inline-block;
}

p.message{
    color: lightgrey;
    max-width: 70%;
    margin-left: 15px;
    padding: 8px;
    display: table;
    background-color: rgba(29,29,30,1);
}

p.message>*{
	margin-right: 10px;
}

span.messageText{
	max-width: 400px;
	display: block;
	word-wrap:break-word;
}

span.count{
    color: rgb(226,91,69);
    margin: 0px 10px;
    font-size: 14px;
}

.time{
    color: rgb(226,91,69);
}

button#sendButton{
    border: 0;
    background-color: rgb(226,91,69);
    height: 60%;
    font-weight: bold;
}

.author{
	color: rgb(222,33,66);
}

div#leaveChat{
	height: 40px;
	width: 40px;
	font-size: 25pt;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	z-index: 10;
}

div#leaveChat>a{
	cursor: pointer;
	text-decoration: none;
	color: white;
}

div#leaveChat>a:hover{
	cursor: pointer;
	color: rgb(226,91,69);
}