@charset "utf-8";
/* CSS Document */

div#mainblock {
	padding: 10px;
    display: inline-block;
}

div#rightContent {
    display: inline-table;
    vertical-align: top;
    padding: 10px;
}

div.header{
    display: block;
	font-size: 26px;
	padding: 7px;
	color: white;
	background-color: rgba(226,91,69,1);	
}

div.header:hover{
	background-color:  rgba(226,70,50,1);
}

div.faqWrapper{
	width: 350px;
	margin: 10px;
}

li.article-list {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	padding-bottom: 5px;
}

h3.mainHead{
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 32px;
	padding-bottom: 10px;
}

ul.drpdwnArticle{
	list-style:none;
	margin:0;
	display: none;
	border: 2px solid #708090;
}

input#sendForm{
	border: none;
	text-decoration: none;
	background-color: rgba(29,29,30,1);
	color: white;
	padding: 5px;
}

input#sendForm:hover{
	color: rgba(226,70,50,1);
}

div#ticketOutput{
	max-height: 200px;
	min-height: 200px;
	width: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}

div#ticketOutput>table{
	table-layout: fixed;
	max-width: 400px;
}

td{
	word-wrap:break-word;
	word-break: break-all;
	max-width: 300px;
}