@charset "utf-8";
/* CSS Document */

div#content{
	text-align: center;
	padding: 20px 0px;
}

fieldset#registration {
	max-width: 400px;
	margin: auto;
}

fieldset#registration>legend{
	font-size: 16pt;
}

fieldset#registration>form>p{
	margin: 2px auto;
}

a#regBack{
	text-decoration: none;
	background-color: rgba(29,29,30,1);
	color: white;
	padding: 5px;
	
}

a#regBack:hover{
	color: rgba(226,70,50,1);
}

input#regSubmit{
	border: none;
	background: none;
	background-color: rgba(226,91,69,1);
	outline: none;
	width: 160px;
	height: 30px;
	color: white;
	font-size: 14px;
	cursor: pointer;
	margin: 10px;
}

input#regSubmit:hover{
	background-color: rgba(226,70,50,1);
}